LOGGING_LEVEL=DEBUG

SQLALCHEMY_DATABASE_URI=sqlite+aiosqlite:///db.sqlite3
SQLALCHEMY_ECHO=False

SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
PERMANENT_SESSION_LIFETIME_MINUTES=10